// bower:scss
// endbower

// MIXINS
@mixin transition($sec) {
  -webkit-transition: $sec+s all;
  -moz-transition: $sec+s all;
  -o-transition: $sec+s all;
  transition: $sec+s all;
  transition-timing-function: linear;
}
// End MIXINS

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.heart {
  background-image: url(../images/heart.svg);
  height: 24px;
  width: 24px;
  position: absolute;
  z-index: 1;
  margin: 5px;
}

.photo {
  width: 150px;
  float: left;
  overflow: auto;
  margin: 2px;
}

.image {
  float: left;
  -webkit-filter: grayscale(70%);
  filter: grayscale(50%);
  width: 100%;
  @include transition(0.5);
}

.favourite {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}