// bower:scss
// endbower

// MIXINS
@mixin transition($sec) {
  -webkit-transition: $sec+s all;
  -moz-transition: $sec+s all;
  -o-transition: $sec+s all;
  transition: $sec+s all;
  transition-timing-function: linear;
}
// End MIXINS

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0px 2px;
}

h1 {
  padding: 10px 0px;
  text-align: center;
}

#loading {
  display: block;
  margin: auto;
}

.photo {
  width: 150px;
  float: left;
  overflow: auto;
  margin: 2px;
}

.vertical {
  height: 200px;
}
.horizontal {
  height: 100px;
}

.heart {
  opacity: 0;
  visibility: hidden;
  background-image: url(../images/heart.svg);
  height: 24px;
  width: 24px;
  position: absolute;
  z-index: 1;
  margin: 5px;
  @include transition(0.5);
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.image {
  float: left;
  -webkit-filter: grayscale(70%);
  filter: grayscale(50%);
  height: 100%;
  width: 100%;
  @include transition(0.5);
}

.favourite {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }